.home-catalog-preview {
  font-family: 'PlayFair Display';

  & > header h1 {
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
    font-size: 18px;
    border-top: 1px solid $brand-secondary;

    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin: 24px auto;
  }

  &:nth-last-child(2) > header h1 {
    text-transform: uppercase;
  }
  &:last-child > header h1 {
    text-transform: uppercase;
  }

  & > footer {
    text-align: center;
    font-size: 22px;
    margin: 60px auto;
    font-family: 'Roboto';

    a {
      border: 1px solid $brand-primary;
      color: $brand-primary;
      transition: color 0.2s linear, background-color 0.2s linear;

      &:hover {
        color: $brand-secondary;
        background-color: brand-primary;
      }
    }
  }

  &:last-child > footer a {
    font-size: 12px;

    @include media-breakpoint-up(lg) {
      font-size: 22px;
      border: none;
    }
  }
}

.product-tile {
  @include media-breakpoint-up(lg) {
    width: 23.6%;
  }
}
