@import './home-catalog-preview';
@import './home-marketing';
@import './mobile-banner';

.content-main {
  margin-top: 63px;

  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }

  & > section {
    margin-bottom: 70px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  span {
    font-weight: 500;
  }
}
