.mobile-banner {
  background: $brand-primary url(/images/banners/banner-mobile.png) center
    center / cover no-repeat;
  width: 100%;
  height: 180px;

  .banner-inner {
    height: 100%;
    width: 100%;
    position: relative;

    .button-new-in {
      position: absolute;
      bottom: 32px;
      right: 18px;
    }
  }
}
