.banner-mobile {
  > div {
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .new-in {
    position: absolute;
    bottom: 30px;
    padding: 8px 10px;
    background-color: white;
    text-transform: uppercase;
  }
}
