.product-tile {
  text-align: center;

  &-header {
    position: relative;
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    h1 {
      font-size: 16px;
      font-weight: 700;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }

  &-image {
    display: block;
    img {
      max-width: 100%;
    }
  }

  &-badge {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-pricing {
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;

    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }
}

.demo-flex {
  .product-tiles {
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      column-gap: 4%;
      text-transform: uppercase;
    }

    .product-tile {
      @include media-breakpoint-up(lg) {
        width: 23.6%;
      }
    }
  }
}
